<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Home</title>
	</head>
	<body>
		{% if name%}
		<h1>Hi {{name}}!</h1>
		{% else %}
		<h1>Hi there !</h1>
		{% endif %}
		<ul>
			{% for product in products %}
			<li>{{product.title}}</li>
			{% comment %} <li>{{product}}</li> {% endcomment %}

			{% endfor %}
		</ul>
		<p>***********************</p>
		<ul>
			{% for customer in customers %}
			<li>{{customer.first_name}}</li>
			{% endfor %}
		</ul>
		<p>***********************</p>
		<p>{{product.title}}</p>
	</body>
</html>
